name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5.1.1
      - run: opam install . --deps-only --with-test
      - run: dune build
      - run: dune runtest
      - run: dune fmt
